<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Заказы</title>
</h:head>

<h:body>

    <div style="width: 600px;">
        <h:form enctype="multipart/form-data">
            <p:fileUpload label="Обновить товары" fileUploadListener="#{fileBean.handleFileUpload}" auto="true"/>
        </h:form>
        <div>
            <span style="font-size:14pt;font-weight:bold;">Дата: <h:outputText value="#{ordersView.currentDate}"/></span>
        </div>
        <c:forEach var="order" items="#{ordersView.orders}">
            <div style="font-size: 14pt; font-weight: bold; margin-top: 15px;"> Заказ № <h:outputText
                    value="#{order.id}"/>
            </div>
            <div style="padding-left: 20px">
                <p:dataTable id="customerList" var="orderItem" value="#{order.orderItems}"
                             style="margin-left: 20px;">
                    <p:column headerText="Id" style="width:20px;">
                        <h:outputText value="#{orderItem.id}"/>
                    </p:column>
                    <p:column headerText="Товар">
                        <h:outputText value="#{orderItem.item.title}"/>
                    </p:column>
                    <p:column headerText="Количество" style="width:100px;">
                        <h:outputText value="#{orderItem.amount}"/>
                    </p:column>
                </p:dataTable>
            </div>
        </c:forEach>
    </div>
</h:body>
</html>
